@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Trade Winds';
  src: url("../fonts/TradeWinds/TradeWinds-Regular.ttf") format("truetype"); }
/* font family variables. */
html, body {
  margin: 0%;
  width: 100%;
  height: 100%;
  background: #141313;
  color: #dfdfdf; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2bjt02");
  src: url("../fonts/icomoon.eot?2bjt02#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2bjt02") format("truetype"), url("../fonts/icomoon.woff?2bjt02") format("woff"), url("../fonts/icomoon.svg?2bjt02#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hackerrank:before {
  content: "\e900";
  color: #2ec866; }

.icon-bootstrap:before {
  content: "\6e";
  color: #563d7c;
  font-size: 30px; }

.icon-c:before {
  content: "\63";
  color: #a8b9cc;
  font-size: 35px; }

.icon-mongodb:before {
  content: "\61";
  color: #47a248;
  font-size: 35px; }

.icon-lua:before {
  content: "\73";
  color: #2c2d72;
  font-size: 35px; }

.icon-java:before {
  content: "\68";
  color: #007396;
  font-size: 35px; }

.icon-postgresql:before {
  content: "\74";
  color: #336791;
  font-size: 35px; }

.icon-mysql:before {
  content: "\e906";
  color: #4479a1;
  font-size: 35px; }

/* GRAY-SCALE BELOW */
.icon-gray-hackerrank:before {
  content: "\e900";
  color: #777777;
  font-size: 55px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-hackerrank:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-bootstrap:before {
  content: "\6e";
  color: #dfdfdf;
  font-size: 30px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-bootstrap:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-c:before {
  content: "\63";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-c:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-mongodb:before {
  content: "\61";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-mongodb:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-lua:before {
  content: "\73";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-lua:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-java:before {
  content: "\68";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-java:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-postgresql:before {
  content: "\74";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-postgresql:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.icon-gray-mysql:before {
  content: "\e906";
  color: #dfdfdf;
  font-size: 35px;
  display: inline-block;
  transition: all .3s ease-in-out; }

.icon-gray-mysql:hover::before {
  color: #854fee;
  transform: scale(1.05); }

.navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
  font-family: "Nunito";
  font-size: 32px; }

.navbar {
  padding: 1rem 20rem; }

.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px; }

.nav-item .nav-link {
  font-family: "Nunito";
  font-weight: 500;
  font-size: 18px;
  padding: 1.7rem;
  color: #141313; }

.navbar-nav .active a {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

.navbar-nav a:hover {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

/* end nav */
/* landing page */
.home-inner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/car.png");
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }

.scale-down {
  max-width: 60%;
  max-height: 60%; }

.expand {
  transition: transform .3s ease; }

.expand:hover {
  transform: scale(1.05); }

.wrapper {
  height: 100%; }

.caption {
  color: white;
  text-transform: uppercase;
  font-family: "Nunito";
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(300%); }

.gradient-color {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

.lead {
  font-family: "Nunito"; }

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem, .1rem, .8rem black; }

.about {
  padding: 8rem 5rem; }

.aboutpic {
  max-width: 85%;
  max-height: 85%; }

.header-spaced {
  letter-spacing: 5px;
  font-style: bold; }

.main-text {
  font-size: 56px; }

.gap {
  padding: 8rem 5rem; }

.off-white {
  color: #777777; }

.social a {
  font-size: 3.5em;
  padding: 3.5rem;
  color: #777777; }

.tech-logos i {
  font-size: 3.5em;
  padding: 3.5rem;
  color: #777777; }

.grad:hover {
  color: #854fee; }

.gm {
  padding-top: 6rem; }

.gapped-gm {
  padding-top: 1.7rem; }

.msufcu-gap {
  padding-left: 1rem; }

.order-card {
  color: #fff; }

.bg-card {
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  height: 150px;
  width: 250px; }

.card .card-block {
  padding: 25px; }

@media (max-width: 992px) {
  .home-inner {
    height: 100%;
    width: 100%; } }
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*# sourceMappingURL=style.css.map */
