
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format("truetype");
  }


@font-face {
    font-family: 'Trade Winds';
    src: url('../fonts/TradeWinds/TradeWinds-Regular.ttf') format("truetype");
}