@import "./fonts";
@import "./variables";
@import "./icons.scss";
.navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
    font-family: $nunito;
    font-size: 32px;
}

.navbar {
    padding: 1rem 20rem;
}

.navbar-nav li {
    padding-left:30px;
    padding-right:30px;
}

.anchor-nostyle {
    text-decoration: none ;
    color: inherit;
 }
.anchor-nostyle:hover
 {
   color:white;
   text-decoration:none;
   cursor:pointer;
  }
.nav-item .nav-link {
    font-family: $nunito;
    font-weight: 500;
    font-size: 18px;
    padding: 1.7rem;
    color: $title-color;
}

.active {
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar-nav a:hover{
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end nav */

/* landing page */
.home-inner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/car.png');
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    
}
.scale-down {
    max-width: 60%;
    max-height: 60%;
}

.expand {
    transition: transform .3s ease;
}

.expand:hover {
    transform: scale(1.05);
}

.wrapper {
    height: 100%;
}
.caption {
    color: white;
    text-transform: uppercase;
    font-family: $nunito;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(300%);
}

.lower-cap {
    color: white;
    text-transform: uppercase;
    font-family: $nunito;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    
}

.gradient-color {
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.lead {
    font-family: $nunito;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem, .1rem, .8rem black;
}

.flex-column { 
    max-width : 260px;
}

.lightbox {
    margin: 10px;
}

.about {
    padding: 8rem 5rem;
}

.aboutpic {
    max-width: 85%;
    max-height: 85%;
}

.header-spaced {
    letter-spacing: 5px;
    font-style: bold;
}

.main-text {
    font-size: 56px;
}

.weis {
    color: #dfdfdf;
}

.gap {
    padding: 8rem 5rem;
}

.gap-big {
    padding: 14rem 5rem;
}

.off-white {
    color: $text-color;
}


.social a {
    font-size: 3.5em;
    padding: 3.5rem;
    color: $text-color;
}

.tech-logos i{
    font-size: 3.5em;
    padding: 3.5rem;
    color: $text-color;
}

.grad:hover {
    color: #854fee;
}

.gm {
    padding-top: 6rem;
}
.gapped-gm {
    padding-top: 1.7rem;
}

.msufcu-gap {
    padding-left: 1rem;
}

.order-card {
    color: #fff;
}

.bg-card {
    background: $gradient-color;
    height: 150px;
    width: 250px;
}
.card .card-block {
    padding: 25px;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        padding: 0 2rem 0 0rem;
        font-family: $nunito;
        font-size: 32px;
    }
    .navbar {
        padding: 1rem 10rem;
    }
    
    .navbar-nav li {
        padding-left:10px;
        padding-right:10px;
    }
    .social a {
        font-size: 2.5em;
        padding: 2.5rem;
        color: $text-color;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        background-color: rgba(0,0,0,0.8) !important;
        float: right !important;
        align-content: right;
        justify-items: right;
        justify-content: right;
    }
    .navbar-nav li {
        left: 0;
        right: 0;
        text-align: right;
    }
    .navbar {
        padding: 1rem 1rem;
    }

    .navbar-toggler {
        float: right !important;
    }

    .home-inner {
        background-position: -400px 0px;
        background-color: rgba(0,0,0,0.6) !important;   
        background-attachment: scroll;
        background-blend-mode: color;
            -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .social a {
        font-size: 2.5em;
        padding: 2.5rem;
    }
}

@media (max-width: 576px) {

    .caption {
        margin-left: auto;
        margin-right: auto;
        transform: translateY(350%);
    }
    .mobile_h1 {
        font-size: 32px !important;
    }
    .mobile_h3 {
        font-size: 18px !important;
    }
    .scale-down {
        max-width: 80%;
        max-height: 80%;
    }

    .full-img {
        max-width: 90%;
        max-height: 90%;
    }
    .aboutpic {
        max-width: 100%;
        max-height: 100%;
    }
    .mobile_about {
        font-size: 35px;
    }
    .mobile_center_title {
        text-align: center !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .about {
        padding: 8rem 0rem;
    }

    .social a {
        font-size: 2em;
        padding: 1rem;
    }
    .gap {
        padding: 8rem 0rem;
    }
    .msufcu-gap {
        padding-left: 2.5rem;
    }
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
